@keyframes wifiSignal {
  0% {
    transform: scale(0);
    opacity: 20%;
  }
  100% {
    transform: scale(3); /* Adjust the scale based on your preference */
    opacity: 0%;
  }
}

/* Apply the animation to create a WiFi signal effect */
.wifi-signal {
  position: absolute;
  width: 1000px; /* Adjust the size based on your preference */
  height: 1000px; /* Adjust the size based on your preference */
  /* background-color: white; */
  border: 2px solid white;
  border-radius: 50%;
  animation: wifiSignal 100s linear infinite;
}
